parameters:
	ignoreErrors:
		-
			message: "#^Method WebFramework\\\\Core\\\\ActionCore\\:\\:get_input_var\\(\\) should return string but returns array\\<string\\>\\|string\\.$#"
			count: 1
			path: includes/ActionCore.php

		-
			message: "#^Method WebFramework\\\\Core\\\\ActionCore\\:\\:get_raw_input_array\\(\\) should return array\\<string\\> but returns array\\<string\\>\\|string\\.$#"
			count: 1
			path: includes/ActionCore.php

		-
			message: "#^Method WebFramework\\\\Core\\\\ActionCore\\:\\:get_raw_input_var\\(\\) should return string but returns array\\<string\\>\\|string\\.$#"
			count: 1
			path: includes/ActionCore.php

		-
			message: "#^Method WebFramework\\\\Core\\\\Browserless\\:\\:get_pdf_result\\(\\) has parameter \\$output_stream with no type specified\\.$#"
			count: 1
			path: includes/Browserless.php

		-
			message: "#^Method WebFramework\\\\Core\\\\Browserless\\:\\:get_pdf_result\\(\\) has parameter \\$url with no type specified\\.$#"
			count: 1
			path: includes/Browserless.php

		-
			message: "#^Offset 'target_version' on array\\{target_version\\: int, actions\\: array\\<array\\>\\} in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: includes/DatabaseManager.php

		-
			message: "#^Parameter \\#1 \\$hour of function mktime expects int, int\\|false given\\.$#"
			count: 2
			path: includes/Helpers.php

		-
			message: "#^Parameter \\#1 \\$string of function trim expects string, string\\|null given\\.$#"
			count: 1
			path: includes/Helpers.php

		-
			message: "#^Parameter \\#2 \\$minute of function mktime expects int\\|null, int\\|false given\\.$#"
			count: 2
			path: includes/Helpers.php

		-
			message: "#^Parameter \\#3 \\$second of function mktime expects int\\|null, int\\|false given\\.$#"
			count: 2
			path: includes/Helpers.php

		-
			message: "#^Parameter \\#4 \\$month of function mktime expects int\\|null, int\\|false given\\.$#"
			count: 2
			path: includes/Helpers.php

		-
			message: "#^Parameter \\#5 \\$day of function mktime expects int\\|null, int\\|false given\\.$#"
			count: 2
			path: includes/Helpers.php

		-
			message: "#^Parameter \\#6 \\$year of function mktime expects int\\|null, int\\|false given\\.$#"
			count: 2
			path: includes/Helpers.php

		-
			message: "#^Left side of && is always true\\.$#"
			count: 1
			path: includes/Image.php

		-
			message: "#^Left side of \\|\\| is always false\\.$#"
			count: 2
			path: includes/Image.php

		-
			message: "#^Parameter \\#1 \\$string of function substr expects string, string\\|false given\\.$#"
			count: 1
			path: includes/Image.php

		-
			message: "#^Parameter \\#6 \\$color of function imagefilledrectangle expects int, int\\|false given\\.$#"
			count: 1
			path: includes/Image.php

		-
			message: "#^Call to an undefined method mysqli\\:\\:execute_query\\(\\)\\.$#"
			count: 1
			path: includes/MysqliDatabase.php

		-
			message: "#^Parameter \\#3 \\$subject of function preg_replace expects array\\|string, string\\|null given\\.$#"
			count: 1
			path: includes/RouteService.php

		-
			message: "#^Offset 'calculated_hash' on array\\{calculated_hash\\: string, stored_hash\\: string\\} in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: includes/User.php

		-
			message: "#^Offset 'stored_hash' on array\\{calculated_hash\\: string, stored_hash\\: string\\} in isset\\(\\) always exists and is not nullable\\.$#"
			count: 1
			path: includes/User.php

		-
			message: "#^Method Redis\\:\\:pconnect\\(\\) invoked with 7 parameters, 1\\-5 required\\.$#"
			count: 1
			path: includes/WF.php

		-
			message: "#^Parameter \\#1 \\$path of function dirname expects string, string\\|false given\\.$#"
			count: 1
			path: includes/WF.php

		-
			message: "#^Parameter \\#3 \\$response_code of function header expects int, string given\\.$#"
			count: 1
			path: includes/WFWebHandler.php

		-
			message: "#^Parameter \\#1 \\$data of method WebFramework\\\\Core\\\\DatabaseManager\\:\\:execute\\(\\) expects array\\{target_version\\: int, actions\\: array\\<array\\>\\}, array given\\.$#"
			count: 1
			path: scripts/db_init.php

		-
			message: "#^Parameter \\#1 \\$data of method WebFramework\\\\Core\\\\DatabaseManager\\:\\:execute\\(\\) expects array\\{target_version\\: int, actions\\: array\\<array\\>\\}, array given\\.$#"
			count: 1
			path: scripts/db_update.php
