parameters:
	ignoreErrors:
		-
			message: '#^Parameter \#1 \$string of function substr expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: src/Support/Image.php