includes:
	- phpstan-baseline.neon

parameters:
    level: 8
    phpVersion: 80100
    paths:
        - includes
        - actions
        - scripts
        - htdocs
    excludePaths:
        analyse:
            - ../vendor
    universalObjectCratesClasses:
        - WebFramework\Core\DataCore
    ignoreErrors:
        -
            message: '#^Instantiated class WebFramework\\Core\\DataCore is abstract\.$#'
            path: includes/data_core.inc.php
        -
            message: '#^Constructor of class WebFramework\\Core\\NullCache has an unused parameter \$config\.$#'
            path: includes/null_cache.inc.php
        -
            message: '#^Call to an undefined method object\:\:send_raw_email\(\)\.$#'
            path: includes/sender_core.inc.php
        -
            message: '#^Call to an undefined method object\:\:dispatch_template_email\(\)\.$#'
            path: includes/sender_core.inc.php

services:
    -
        class: WebFramework\PHPStan\VerifyMethodTypeSpecifyingExtension
        tags:
            - phpstan.typeSpecifier.methodTypeSpecifyingExtension
    -
        class: WebFramework\PHPStan\WFVerifyMethodTypeSpecifyingExtension
        tags:
            - phpstan.typeSpecifier.methodTypeSpecifyingExtension
    -
        class: WebFramework\PHPStan\VerifyStaticMethodTypeSpecifyingExtension
        tags:
            - phpstan.typeSpecifier.staticMethodTypeSpecifyingExtension
