includes:
	- phpstan-core.neon
	- phpstan-baseline.neon

parameters:
    treatPhpDocTypesAsCertain: false
    level: 8
    phpVersion: 80100
    paths:
        - config
        - definitions
        - src
        - actions
        - scripts
        - htdocs
    excludePaths:
        analyse:
            - ../vendor
