parameters:
    universalObjectCratesClasses:
        - WebFramework\Core\DataCore

services:
    -
        class: WebFramework\PHPStan\EntityPropertiesExtension
        tags:
            - phpstan.properties.readWriteExtension
    -
        class: WebFramework\PHPStan\ActionCoreVerifyMethodTypeSpecifyingExtension
        tags:
            - phpstan.typeSpecifier.methodTypeSpecifyingExtension
    -
        class: WebFramework\PHPStan\DataCoreVerifyMethodTypeSpecifyingExtension
        tags:
            - phpstan.typeSpecifier.methodTypeSpecifyingExtension
    -
        class: WebFramework\PHPStan\FactoryCoreVerifyMethodTypeSpecifyingExtension
        tags:
            - phpstan.typeSpecifier.methodTypeSpecifyingExtension
    -
        class: WebFramework\PHPStan\AssertHandlerVerifyMethodTypeSpecifyingExtension
        tags:
            - phpstan.typeSpecifier.methodTypeSpecifyingExtension
    -
        class: WebFramework\PHPStan\WFInternalVerifyMethodTypeSpecifyingExtension
        tags:
            - phpstan.typeSpecifier.methodTypeSpecifyingExtension
    -
        class: WebFramework\PHPStan\VerifyStaticMethodTypeSpecifyingExtension
        tags:
            - phpstan.typeSpecifier.staticMethodTypeSpecifyingExtension
