<html>
  <head>
    <title>{$title}</title>
  </head>
  <body>
    <h1>Triggers</h1>
    <p>
      <a target="_blank" href="?action=401">
        Unauthorized (401)
      </a>
    </p>
    <p>
      <a target="_blank" href="?action=403">
        Forbidden (403)
      </a>
    </p>
    <p>
      <a target="_blank" href="?action=404">
        Trigger Not Found (404)
      </a>
    </p>
    <p>
      <a target="_blank" href="?action=blacklist">
        Trigger Blacklisted
      </a>
    </p>
    <p>
      <a target="_blank" href="?action=exception">
        Trigger Exception
      </a>
    </p>
    <p>
      <a target="_blank" href="?action=report_error">
        Report Error
      </a>
    </p>
    <p>
      <a target="_blank" href="?action=warning">
        Trigger Warning
      </a>
    </p>
    <p>
      <a target="_blank" href="?action=error">
        Trigger Error
      </a>
    </p>
    <p>
      <a target="_blank" href="?action=php_error">
        Trigger PHP Error
      </a>
    </p>
  </body>
</html>
